@import 'generic.css';
@import 'custom_classes.css';
@import 'header.css';
@import 'sidebar.css';
@import 'footer.css';
.box-shadow-none{-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;}
.text-shadow-none{-webkit-text-shadow:none;-moz-text-shadow:none;text-shadow:none;}
.transition-none{-webkit-transition:none;-moz-transition:none;-o-transition:none;-ms-transition:none;transition:none;-o-transition-property:none !important;-moz-transition-property:none !important;-ms-transition-property:none !important;-webkit-transition-property:none !important;transition-property:none !important;-o-transform:none !important;-moz-transform:none !important;-ms-transform:none !important;-webkit-transform:none !important;transform:none !important;-webkit-animation:none !important;-moz-animation:none !important;-o-animation:none !important;-ms-animation:none !important;animation:none !important;}
.horizontal_flip{-moz-transform:scalex(-1);-o-transform:scalex(-1);-webkit-transform:scalex(-1);transform:scalex(-1);filter:FlipH;-ms-filter:"FlipH";}
@media (min-width:980px){.span3{width:227px;margin:0 2px;} .span4{width:305.3333333333333px;margin:0 4px;} .row{margin-left:0;}}.header a.logo{width:123px;height:36px;background-size:123px 36px;top:-2px;}
.carousel{margin:10px 0 0;}
.carousel .container{position:absolute;right:0;bottom:0;left:0;}
.carousel-control{background-color:transparent;border:0;font-size:850%;margin-top:0;text-shadow:0 1px 1px rgba(0, 0, 0, 0.4);}
.carousel .item{height:500px;}
.carousel img{min-width:100%;height:500px;}
.carousel-caption{background-color:transparent;position:static;max-width:400px;padding:0 20px;margin:0 0 150px 450px;}
.carousel-caption h1{font-size:240%;}
.carousel-caption .lead{margin:0;line-height:1.25;font-size:120%;color:#666;}
.carousel-caption .btn{margin-top:10px;}
@media (max-width:979px){.carousel .item{height:500px;} .carousel img{width:auto;height:500px;}}@media (max-width:767px){.carousel{margin-left:-20px;margin-right:-20px;} .carousel .item{height:300px;} .carousel img{height:300px;} .carousel-caption{width:65%;padding:0 70px;margin-bottom:40px;} .carousel-caption h1{font-size:30px;} .carousel-caption .lead,.carousel-caption .btn{font-size:18px;}}
