/* CUSTOMIZE THE NAVBAR
    -------------------------------------------------- */
@media (min-width: 1200px) {
  .container {
    width: 940px;
  }
  .span12 {
    width: 940px;
  }
}

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: relative;
  z-index: 10;
  margin-top: 20px;
/*  margin-bottom: -90px; /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
  border-bottom: thin solid #ccc;
}

/* Remove border and change up box shadow for more contrast */
.navbar .navbar-inner {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background: transparent;
    border-radius: 0;
    border:0;
}

/* Downsize the brand/project name a bit */
.navbar .brand {
  padding: 14px 20px 16px; /* Increase vertical padding to match navbar links */
  font-size: 16px;
  font-weight: bold;
  text-shadow: 0 -1px 0 rgba(0,0,0,.5);
}

/* Navbar links: increase padding for taller navbar */
.navbar .nav > li > a {
  padding: 15px 20px;
}

/* Offset the responsive button for proper vertical alignment */
.navbar .btn-navbar {
  margin-top: 10px;
}

.navbar .nav .active {
  background: transparent;
  color: orange;
}
    
.container.homebuttons {
	margin-top: 100px;
}
