.box-shadow-none{-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;}
.text-shadow-none{-webkit-text-shadow:none;-moz-text-shadow:none;text-shadow:none;}
.transition-none{-webkit-transition:none;-moz-transition:none;-o-transition:none;-ms-transition:none;transition:none;-o-transition-property:none !important;-moz-transition-property:none !important;-ms-transition-property:none !important;-webkit-transition-property:none !important;transition-property:none !important;-o-transform:none !important;-moz-transform:none !important;-ms-transform:none !important;-webkit-transform:none !important;transform:none !important;-webkit-animation:none !important;-moz-animation:none !important;-o-animation:none !important;-ms-animation:none !important;animation:none !important;}
.horizontal_flip{-moz-transform:scaleX(-1);-o-transform:scaleX(-1);-webkit-transform:scaleX(-1);transform:scaleX(-1);filter:FlipH;-ms-filter:"FlipH";}
footer{font-size:80%;margin:20px 0 0 0;background-color:#5f5f5f;color:#f8f8f8;border-top:2px solid #d2d2d2;}
footer .connect ul{border-left:3px solid #dfdfdf;}
.sitemap a{color:#f8f8f8;}
.sitemap li:hover{color:#00e6e6;}
footer ul{list-style-type:none;display:inline;margin:0 0 0 20px;}
footer ul li{display:inline;list-style-position:inside;margin-right:25px;}
footer .connect a{float:left;}
footer .connect li{margin:0;}
footer .connect i{margin:0 8px;font-size:300%;opacity:0.7;}
.sitemap{width:98%;clear:both;padding:8px 0 20px 0;}
.sitemap ul{display:block;}
.sitemap li{float:left;clear:left;-webkit-transition:color 0.1s ease-in;-moz-transition:color 0.1s ease-in;-o-transition:color 0.1s ease-in;-ms-transition:color 0.1s ease-in;transition:color 0.1s ease-in;}
