.box-shadow-none{-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;}
.text-shadow-none{-webkit-text-shadow:none;-moz-text-shadow:none;text-shadow:none;}
.transition-none{-webkit-transition:none;-moz-transition:none;-o-transition:none;-ms-transition:none;transition:none;-o-transition-property:none !important;-moz-transition-property:none !important;-ms-transition-property:none !important;-webkit-transition-property:none !important;transition-property:none !important;-o-transform:none !important;-moz-transform:none !important;-ms-transform:none !important;-webkit-transform:none !important;transform:none !important;-webkit-animation:none !important;-moz-animation:none !important;-o-animation:none !important;-ms-animation:none !important;animation:none !important;}
.horizontal_flip{-moz-transform:scalex(-1);-o-transform:scalex(-1);-webkit-transform:scalex(-1);transform:scalex(-1);filter:FlipH;-ms-filter:"FlipH";}
.hero-unit{padding:0;font-size:130%;line-height:120%;background-color:#f8f8f8;border-top:1px solid #dfdfdf;border-bottom:3px solid #dfdfdf;background-image:url(../images/frontpage_unit.jpg);background-size:cover;clear:both;}
.hero-unit h3{margin:0;padding:0;border:0;}
.hero-unit .panel{font-size:80%;}
.hero-unit .search{color:#444444;float:right;padding:15px 15px 0 0;margin:0;}
.hero-unit .search p{padding:0 30px 0 0;}
.hero-unit .search form{width:100%;margin:5px 0 0 0;}
.hero-unit .search small a{float:right;font-size:70%;margin:0 46px 0 0 ;color:white;}
.hero-unit .search small a:hover{color:#f05000;}
.hero-unit .span6{width:45%;}
.solo .panel{margin:25px 15px 0 0;}
.carousel{margin:0;}
.carousel-control{background-color:transparent;border:0;font-size:850%;margin-top:0;text-shadow:0 1px 1px rgba(0, 0, 0, 0.4);}
.carousel .item{min-height:280px;background-size:cover;}
.carousel img{min-width:100%;height:500px;}
.carousel-caption{position:absolute;top:62.22222222222222px;max-width:60%;margin:0 auto;background-color:transparent;text-align:center;}
.carousel-caption strong,.carousel-caption b{font-weight:bold;}
.carousel-caption h1{font-size:400%;font-weight:bold;color:white;width:100%;-webkit-text-shadow:1px 1px 6px rgba(0, 0, 0, 0.2);-moz-text-shadow:1px 1px 6px rgba(0, 0, 0, 0.2);text-shadow:1px 1px 6px rgba(0, 0, 0, 0.2);}
.carousel-caption .lead{margin:0;font-size:100%;line-height:1.25;background-color:rgba(248, 248, 248, 0.75);color:#444444;padding:6px 10px;}
.carousel-caption .btn{margin-top:10px;}
.carousel .download{margin-top:300px;margin-left:500px;}
.carousel-caption.top{top:0;}
.carousel-caption.bottom{top:120px;bottom:0;}
.carousel-caption.left{float:left;margin:0;left:-15px;text-align:left;}
.carousel-caption.right{float:right;margin:0;right:-15px;text-align:right;left:40%;}
