
/index.php
/plugins/index.php
/plugins/wordpress-importer/*
/plugins/akismet/*
/plugins/cms-tree-page-view/*
/plugins/hello.php
/themes/index.php
/themes/twentytwelve/*
/themes/twentyeleven/*
/themes/twentyten/*
/themes/bthree/.DS_Store
/uploads/*
.project
