body {
   background: #f5f5f5;
}

.col-1 {
   float:left;
   width:47%;
   padding:1%;
   border: 1px dotted #ccc;
   background: #fff;
}

.col-2 {
   float:right;
   width:47%;
   padding:1%;
   border: 1px dotted #ccc;
   background: #fff;
}


.span6 {
	width: 45%;
	padding: 1%;
	margin-right: 1%; 
	border: 1px dotted #ccc;
	background: #fff;
	float: left;
}

.span4 {
	width: 30%;
	padding: 1%;
	margin-right: 1%; 
	border: 1px dotted #ccc;
	background: #fff;
	float: left;
}

.row {
	clear: both;
	margin-bottom: 20px;
}

img { /* Makes sure your images stay within their columns */
   max-width: 100%;
   width: auto;
   height: auto;
}