@import 'defines.less';
@import 'generic.css';
@import 'custom_classes.css';
 
@import 'header.css'; 
@import 'sidebar.css';
@import 'footer.css';

@import 'hero_unit.css';
@import 'generic_page.css';

@import 'page_features.css';


.full .carousel .item {min-height: (@carousel_height * 1.8);}
.full .carousel-caption {top: ((@carousel_height * 1.8) / 4.5);}
.full .carousel-caption.bottom {top: @carousel_height + 60;}
.full .carousel-caption.center {top: (@carousel_height / 2);} 

.full .carousel-indicators {top: 555px;}


/* for mobile ( anything under 768px */

@media(max-width:767px){
  .sitemap .span3{
    float:left;
	padding-left: 2em;
	margin-bottom: 5em;
  }
  .sitemap .span3.connect a{
    display:block;
    clear:both;
  }
  
  ul.span3 h4 {
  font-size: 3em;
  margin-top: 1em;
  }
  
  .sitemap li {
	line-height: 1.7em;
	font-size: 1.7em;
	margin-bottom: 0.4em;
}

.pull-right { 
  margin-right: 1em;
}
  
  
 .bottom {
position: relative;  /* stops the text from going under the homepage section buttons */
} 

.full .carousel .item {
   min-height: 360px;
  }
  
 .carousel .item {
min-height: 200px;
} 
  
  
.download_panel {
top: 260px;
width: 100%;
float: left;
}

.download_panel .btn {
font-size: 100%;
}

.download_panel ul {
clear: both;
float: left;
}


  
 .full .carousel-caption.bottom {
top: 10px;
left: 10px;
margin-right: 20px;
position: absolute;
} 
  
  
  .header {
  position: relative;
  }
  
  
  .soyadmin { /* don't need to be logging in when you are on a small mobile device)*/
    display:none;
  }
  
  
  	.carousel-caption h1 {
	   font-size: 200%;
	   text-shadow: 2px 2px 5px #000000;
	}
  
 .carousel-caption .lead{
  font-size: 70%;
  max-width: 300px;
  margin-bottom: 20px;
  margin-right: 20px;
}
 
 .carousel-caption.bottom {
 top: 10px;
 left: 10px;
 }
 
  
  .header_static .container .panel {
  margin: 0;
  top: 0;
  padding-left: 1.0em;
    }
  
  .header_static .container .panel h1 {
    font-size: 270%;
    text-shadow: 2px 2px 5px #000000;
  }
  
  
  .subnav .second-level .nav > li, .subnav .third-level .nav > li {
  width: 100%;
  }
  
  
  
  
}


/* for widths between full size and mobile */

@media(min-width:768px) and (max-width: 1199px){
    .box {
  min-height:  520px;
  }
    
.carousel-caption h1 {
font-size: 250%;
}
	

.carousel-caption .lead{
  font-size: 90%;
  max-width: 42%;
  min-width: 34%;
}

	
}

/* Override Stuff */
.header a.logo {
  width: 123px;
  height: 36px;
  background-size: 123px 36px;
  top: -2px;
}

 
 
/*   

header.entry-header { 
  margin-left: 20px;
}

@media(min-width: 1200px){
  header.entry-header {
    margin-left: 30px;
  }
}

@media(max-width: 979px) and (min-width: 768px) {
  header.entry-header {
    margin-left: 20px;
  }
  

  
}

@media (max-width: 767px){
  header.entry-header {
    margin-left: 0;
  }
}
*/