@import 'defines.less';
@import 'generic.css';
@import 'custom_classes.css';
 
@import 'header.css'; 
@import 'sidebar.css';
@import 'footer.css';

@import 'hero_unit.css';
@import 'generic_page.css';

/* Specific CSS */ 
  
@media(max-width:767px){
  .sitemap .span3{
    float:left;
    width: 25%;
  }
  .sitemap .span3.connect a{
    display:block;
    clear:both;
  }
}
  
/* Override Stuff */
.header a.logo {
  width: 123px;
  height: 36px;
  background-size: 123px 36px;
  top: -2px;
}
.frontpage .hero-unit{margin: -32px auto 30px auto;}
.frontpage .carousel .item {min-height: (@carousel_height * 1.6);}
.frontpage .carousel-caption {top: ((@carousel_height * 1.6) / 4.5);}
.frontpage .carousel-caption.bottom {top: ((@carousel_height * 1.6) / 2) - 20;}

/* 

header.entry-header { 
  margin-left: 20px;
}

@media(min-width: 1200px){
  header.entry-header {
    margin-left: 30px;
  }
}

@media(max-width: 979px) and (min-width: 768px) {
  header.entry-header {
    margin-left: 20px;
  }
}

@media (max-width: 767px){
  header.entry-header {
    margin-left: 0;
  }
}
*/