@import 'defines.less';
@import 'generic.css';
@import 'custom_classes.css';
 
@import 'header.css'; 
@import 'sidebar.css';
@import 'footer.css';

@import 'hero_unit.css';
@import 'generic_page.css';

/* Specific CSS */ 
 
@media(max-width:767px){
  .sitemap .span3{
    float:left;
    width: 25%;
  }
  .sitemap .span3.connect a{
    display:block;
    clear:both;
  }
}

/* Override Stuff */
.header a.logo {
  width: 123px;
  height: 36px;
  background-size: 123px 36px;
  top: -2px;
}
.hero-unit{margin: -32px auto 30px auto}

/* Carousel base class */
.carousel {margin: 0;}

.carousel-control {
  background-color: transparent;
  border: 0;
  font-size: 850%;
  margin-top: 0;
  text-shadow: 0 1px 1px rgba(0,0,0,.4);
}

.carousel .item {
  min-height: 480px;
  background-size: cover;    
}
.carousel img {
  min-width: 100%;
  height: 500px;
}

.carousel-caption {
    position:absolute;
    top: 25px;
    max-width: 60%;
    margin: 40px auto;
    background-color: transparent;
}
.carousel-caption h1 {
    font-size: 450%;
    font-weight: bold;
    color: white;
    width: 100%;
    text-align: center;
}

.carousel-caption .lead {
    margin: 0;
    line-height: 1.25;
    background-color: fade(@color_background, 70%);
    color: @color_text;
    padding: 10px;
    text-align: center;
}

.carousel-caption .btn {
  margin-top: 10px;
}

.carousel .download {
  margin-top: 300px;
  margin-left: 500px;
}

/* End of Carousel 

header.entry-header {
  margin-left: 20px;
}

@media(min-width: 1200px){
  header.entry-header {
    margin-left: 30px;
  }
}

@media(max-width: 979px) and (min-width: 768px) {
  header.entry-header {
    margin-left: 20px;
  }
}

@media (max-width: 767px){
  header.entry-header {
    margin-left: 0;
  }
}
*/