@import 'custom_classes.less';
@color_background: #F8F8F8;
@color_text: #444;
@color_text_secondary: teal;
@color_link: #F05000;
@color_link_hover: #FF5000;

@color_os_windows: hsl(205, 30%, 40%, 1.0);
@color_os_osx: hsl(278, 20%, 40%, 1.0);
@color_os_linux: hsl(86, 30%, 40%, 1.0);
@color_os_source: hsl(0, 0%, 30%, 1.0);

@font_normal: 'Open Sans', sans-serif;
@font_condensed: 'Open Sans Condensed', sans-serif;
@font_size: 14px;

@container_width: 1170px;

// Carousel Stuff
@carousel_height: 280px;