@import 'defines.less';
footer { 
  font-size: 80%; 
  margin: 0 0 10px 0;
}
footer .connect ul {
  border-left: 3px solid darken(@color_background, 10%);
}

.sitemap a{color: @color_text}
.sitemap li:hover {color: @color_text_secondary} 

footer ul {
  list-style-type: none;
  display: inline;
  margin: 0 0 0 20px;
}

footer ul li {
  display: inline;
  list-style-position: inside;
  margin-right: 25px;
}

footer .connect a {float:left;}
footer .connect li {margin: 0;}
footer .connect i {
  font-size: 300%;
  opacity: 0.7;}


.sitemap {
  clear:both;
  margin-top: 20px;
  padding: 8px 0 20px 0;
  border-top: thin solid darken(@color_background, 15%);
}

.sitemap ul{
  display:block;
}

.sitemap li {
  float:left;
  clear:left;
}