@import 'defines.less'; // Always import defines

.page {margin-top: 30px;}

.nav-tabs {
  margin: 0;
  border: none;
}

.nav-tabs>li>a {
  color: #333;
  border: none;
  .transition(all, 0.15s, ease-in)
}

.tab-content h1 {
  color:white;
}

.tab-pane {
  margin: 5px 16px;
}

.carousel .item {
  background-position: 50% 30%;
  .transition(opacity, 2s, ease-out)
}
.carousel .active.left,
.carousel .active.right {left:0; opacity:0; z-index:2; width: 100%;}
.carousel .next {left:0; opacity:1; z-index:1;width: 100%;}

.carousel-indicators li{
  margin: 0 0 0 10px;
  width: 5px;
  height: 5px;
  border: 1px solid fade(@color_background, 45%);
}

.carousel-indicators .active {.transition(all, 0.5s, ease-in); pointer-events: none;}
.carousel-indicators li:hover{cursor:pointer}
