@import 'defines.less';
html {height: 100%;}
body {
  background-color: @color_background;
  cursor: default;
  font-family: @font_normal;
  font-weight: lighter;
  font-size: @font_size;
  color: @color_text;
  height: 100%;
}

.container {
  position: relative;

//  margin: 0 auto; // centered!
}

.header {
  padding: 20px 0 0 0;
  position: absolute;
  z-index: 99;
  width: 100%;
  background-color: fade(@color_background, 88%);
  border-bottom: thin solid fade(@color_background, 30%);
}

a, a:link,
a:visited {
  color: @color_link_secondary;
  text-decoration: none;
  outline: 0;
  .transition(all, 0.1s, ease-in);
}

a:hover, a:active, a:focus {
  text-decoration: none;
  color: @color_link_hover;
} 

.secondary a, .secondary a:link,
.secondary a:visited { color: @color_link_secondary}
.secondary a:hover, .secondary a:active,
.secondary a:focus { color: @color_link_secondary_hover}

strong, b {font-weight: normal;}

h1, h2, h3, h4, h5 {
  font-family: @font_condensed;
  font-weight: normal;
  .text-shadow(1px, 1px, 1px, black, 12%);
  .transition(color, 0.1s, ease-in);
}

h1 {font-size: 260%;}
h2 {font-size: 220%;}
h3 {font-size: 180%; font-weight: lighter;}
h4 {font-size: 140%;}
h5 {font-size: 120%;}

* {.border-radius(0) !important;}

hr {
  clear:both;
  width: 90%;
  height: 1px;
  border: none;
  margin: 15px auto 10px auto;
  background-color: darken(@color_background, 10%);
}

input, button, select, textarea {
  font-family: @font_normal;
  font-weight: lighter;
  .transition(background-color, 0.1s, ease-in);
}

.input-append input, .input-prepend input,
.input-append select, .input-prepend select,
.input-append .uneditable-input, .input-prepend .uneditable-input {
  background-color: lighten(@color_background, 5%);
  .transition(background-color, 0.1s, ease-in);
}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus,
input[type="datetime"]:focus, input[type="datetime-local"]:focus,
input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus,
input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus,
input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus,
input[type="color"]:focus, .uneditable-input:focus {
  background-color: lighten(@color_background, 10%);
  .box-shadow-none;
  border-color: @color_link;
  .transition(border-color, 0.2s, ease-in)
}

label {font-weight: normal;}

ul li {
  list-style-type: none;
}

/* Override Font-Awesome props */
li [class^="icon-"]{
  text-align:left;
}
/* // Override Font-Awesome props */

article .row-fluid {margin-bottom: 20px;}

/* Special Classes */ 
.top {position:absolute; top:0;}
.bottom {position: absolute; bottom:0;}
.left {float:left; left: 0;}
.right {float:right; right: 0;}

.relative {position:relative;}
.inline-block {display:inline-block;}
.block {display:block;}
.width-full {width: 100%;}
.height-full {height: 100%;}
 
.backicon {
  z-index: 0;
  position:absolute;
  font-size: 1400%;
  bottom: -50px; right: -35px;
  color: fade(@color_text, 3%);
}

.divider {
  margin: 20px auto;
  width: 100%;
  height: 2px;
  border-top: thin solid darken(@color_background, 5%);
}

.panel {
  position:relative;
  margin: 5px 0;
  padding: 10px 19px;
  border: 2px solid darken(@color_background, 10%);
  border-left: 0; border-right: 0;
  background_color: fade(@color_background, 20%);
  .text-shadow(1px, 1px, 2px, black, 20%);
  .box-shadow(1px, 1px, 2px, darken(@color_background, 60%), 25%);
  .background_dots(circle, transparent 10%, rgba(240,240,240, 0.65) 10%, rgba(100,100,100, 0.2) 10%, 10px, 20px);
}

/* Pagination */
.pagination {
  margin: 30px auto 0px auto;
  width: 100%;
  text-align:center;
}
.pagination .active span{background-color: @color_link_hover}
/* // PAGINATION */

/* override bootstrap buttons,
 * from http://charliepark.org/bootstrap_buttons/
 * - Saturation 100
 * - Lightness 42
 * - Puffiness 3 
 */

a.btn {
  font-family: @font_condensed;
  font-size: 130%;
  text-transform: capitalize;

  background-color: hsl(0, 0%, 94%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f9f9f9", endColorstr="#efefef");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#f9f9f9), to(#efefef));
  background-image: -moz-linear-gradient(top, #f9f9f9, #efefef);
  background-image: -ms-linear-gradient(top, #f9f9f9, #efefef);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f9f9f9), color-stop(100%, #efefef));
  background-image: -webkit-linear-gradient(top, #f9f9f9, #efefef);
  background-image: -o-linear-gradient(top, #f9f9f9, #efefef);
  background-image: linear-gradient(#f9f9f9, #efefef);
  border-color: #efefef #efefef hsl(0, 0%, 93%);
  color: fade(@color_text, 90%) !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.06);
  -webkit-font-smoothing: antialiased;
  border-bottom: 2px solid fade(@color_text, 20%);
}
a.btn-primary {
  color: white !important;
  font-weight: bold;
  background-color: hsl(202, 100%, 39%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0091e5", endColorstr="#007dc6");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#0091e5), to(#007dc6));
  background-image: -moz-linear-gradient(top, #0091e5, #007dc6);
  background-image: -ms-linear-gradient(top, #0091e5, #007dc6);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0091e5), color-stop(100%, #007dc6));
  background-image: -webkit-linear-gradient(top, #0091e5, #007dc6);
  background-image: -o-linear-gradient(top, #0091e5, #007dc6);
  background-image: linear-gradient(#0091e5, #007dc6);
  border-color: #007dc6 #007dc6 hsl(202, 100%, 37.5%);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.09);
  -webkit-font-smoothing: antialiased;
  .text-shadow(1px, 1px, 3px, black, 20%)
}

a.btn.external {
  border-bottom: 2px solid fade(@color_link_secondary, 20%);
}
a.btn.external:after {
  content: '\f08e';
  float: right;
  font-size: 75%;
  color: fade(@color_text, 60%);
  position:absolute;
  top: 6px;
  right: 8px;
  font-family: "FontAwesome";
}

/* CARDS
 * swap a "front" div with a "back" div
 * both inside a "card" div, with a nice flip effect. */
.card {
  position: absolute;
  top: 0; left: 0;
  -webkit-perspective: @container_width;
  -moz-perspective: 0; // anything else than 0 looks like crap on some FF
  width: 100%; height:100%;
}

.card .front {
  background-color: @color_background;
  position: absolute;
  top: 0; left: 0;
  z-index: 900;
  width: inherit; height: inherit;

  -webkit-transform: rotateX(0deg) rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;

  -moz-transform: rotateX(0deg) rotateY(0deg);
  -moz-transform-style: preserve-3d;
  -moz-backface-visibility: hidden;
  .transition(all, .4s, ease-in-out)
}
.card.flip .front {
  z-index: 900;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  //.box-shadow(1px, 1px, 3px, darken(@color_background, 60%), 25%);
}

.card .back {
  position: absolute;
  top: 0; left: 0;
  z-index: 800;
  width: inherit; height: inherit;
  background-color: @color_background;
  padding-left:2px;
  .box-shadow-none;
  //.background_dots(circle, darken(@color_background,10%) 20%, fade(darken(@color_background, 5%), 60%) 20%, fade(darken(@color_background, 5%), 60%) 20%, 10px, 10px);

  -webkit-transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;

  -moz-transform: rotateY(-180deg);
  -moz-transform-style: preserve-3d;
  -moz-backface-visibility: hidden;
  .transition(all, .4s, ease-in-out)
}
    
.card.flip .back {
  z-index: 1000;
  -webkit-transform: rotateX(0deg) rotateY(0deg);
  -moz-transform: rotateX(0deg) rotateY(0deg);
}

.box {
  position: relative;
  background-color: white;
  min-height: 390px;
  padding-top: 10px;
  padding-bottom: 5px;
  .box-shadow(1px, 1px, 3px, darken(@color_background, 60%), 25%);
}

.box p {
  position: relative;
  margin: 15px;
}
.box h2 {
  margin: 10px 0 0 15px;
  font-size: 250%;
  text-transform: capitalize; 
}

.box ul li{
  list-style-type: none;
  position: relative;
  .transition(all, .2s, ease-in-out)
}

.box ul li:after,
.box ul li:after {
  content: "›";
  position: absolute;
  left: -10px;
  top: -2px;
  text-align: right;
  font-size: 120%;
  color: fade(@color_text, 50%);
  .transition(all, 0.15s, ease-in);
}

.box ul{margin: 0;}
.box li{margin-left: 20px;}

.box .btn {
  min-width: 90%; max-width: 90%;
  font-weight: bold;
  color: fade(@color_text, 50%);
  padding-top: 4px; padding-bottom: 4px;
  } 

.box .bottom {width: 96%; margin: 5px 10px 10px 10px;}