@import 'defines.less'; // Always import defines
/* HERO UNIT */
.hero-unit {
  padding: 0; 
  font-size: 130%;
  line-height: 120%;
  background-color: @color_background;
  border-top: 1px solid darken(@color_background, 10%);
  border-bottom: 3px solid darken(@color_background, 10%);
  background-image: url(../images/frontpage_unit.jpg);
  background-size: cover;
  clear:both;
}

.hero-unit h3 {
  margin: 0;
  padding: 0;
  border: 0;
}

.hero-unit .panel {
  font-size: 80%;
}

.hero-unit .search {
  color: @color_text;
  float:right;
  padding: 15px 15px 0 0;
  margin: 0;
}
.hero-unit .search p { padding: 0 30px 0 0 }
.hero-unit .search form {
  width: 100%;
  margin: 5px 0 0 0;
}
.hero-unit .search small a{
  float: right;
  font-size: 70%;
  margin: 0 46px 0 0 ;
  color: white;
}
.hero-unit .search small a:hover { color: @color_link;}

.hero-unit .span6 {
  width: 45%;
}

.solo .panel {
  margin: 25px 15px 0 0;
}