@import 'defines.less';
.nav-tabs>.active>a,
.nav-tabs>.active>a:hover {
    color: white;
    background-color: transparent;
    border:none;
}
.tab-content {
  //position:relative;
  //min-height: 100%;
  color: white;
  overflow: hidden;
  clear:both;
  border-top: thin solid fade(@color_background, 10%);
  .box-shadow(1px, 1px, 2px, black, 20%)
}

.tab-content a {color: white}

.nav-tabs>li>a:hover {background-color: fade(@color_text_secondary, 10%)}
.nav-tabs>li.active {font-weight: bold;}

 
.windows {background-color: @color_os_windows;}
.osx {background-color: @color_os_osx;}
.linux {background-color: @color_os_linux;}
.source {background-color: @color_os_source;}  

.tab-content.windows {border-bottom: thick solid darken(@color_os_windows, 10%);}
.tab-content.osx {border-bottom: thick solid darken(@color_os_osx, 10%);}
.tab-content.linux {border-bottom: thick solid darken(@color_os_linux, 10%);}
.tab-content.source {border-bottom: thick solid darken(@color_os_source, 10%);}

.tab-content .header {
  width: 100%;
  margin: 25px auto;
  padding: 0;
  border: none;
  background-color: transparent;
  position:relative;
}

.post_header {
  margin: 0 0 35px 0;
}

/* inside tab-content */
.download .package {
  position:relative;
  width: 98%;
  margin: 5px auto;
  clear:both;
  border-top: thin solid fade(@color_background, 10%);
  border-left: 10px solid fade(@color_background, 10%);
  .box-shadow(1px, 1px, 2px, black, 20%)
}

.download .package .icon {
  position:relative;
  font-size: 400%;
  color: fade(white, 85%);
  float:left;
  margin: 15px 0 0 15px;
  bottom: 5px;
  .text-shadow(1px,1px,2px, black, 30%);
}

.download .package h2 {
  float:left;
  font-size: 240%;
  margin: 20px 0 0 20px;
}

.download .package .links,
.download .header .depth {
  position:relative;
  float:right;
  width: 16%;
  text-align:center;
  font-size: 90%;
  padding: 10px 0;
  margin: 0;
}

.download .header .depth {
  text-align: center;
  font-size: 120%;
  overflow: hidden;
  position: relative;
  .transition(background-color, 0.2s, ease-in)
}
.download .header .depth small {
  color: fade(white, 60%);
  margin-left: 3px;
  .text-shadow-none()
}

.download .header .depth:hover {
  background-color: fade(white, 10%);
}


.download .header .depth .depth_text,
.download .header .depth .depth_icon {
  position: relative;
  float:left;
  .transition(all, 0.2s, ease-in-out)
}

.download .header .depth .depth_text {
  top: 0; right: 15%;
}

.download .header .depth .depth_icon {
  top: -80px; left: 30%;
  font-size: 320%;}

.download .header .depth:hover .depth_icon { top: 5px;}
.download .header .depth:hover .depth_text { top: 80px;}

.download .package .choose {
  position: absolute;
  top: 40%; right: 40%;
  opacity: 0;
  .transition(all, 0.15s, ease-out);
}
.download .package:hover .choose {right: 38%; opacity: 1.0;}

.download .header .border-left {border-left: thin solid fade(white, 30%)}
.download .header .title {
  margin: 0 0 20px 0;
  float:left;
}

.download .package ul {list-style-type: none;}
.download .package li {margin: 2px 0; line-height: 110%;}
.download .package li:hover {font-weight: bold;}

.download .windows .package {background-color: lighten(@color_os_windows, 10%);}
.download .windows .package:hover {background-color: lighten(@color_os_windows, 12%);}
.download .osx .package {background-color: lighten(@color_os_osx, 10%);}
.download .osx .package:hover {background-color: lighten(@color_os_osx, 12%);}
.download .linux .package {background-color: lighten(@color_os_linux, 10%);}
.download .linux .package:hover {background-color: lighten(@color_os_linux, 12%);}
.download .source .package {background-color: lighten(@color_os_source, 10%);}
.download .source .package:hover {background-color: lighten(@color_os_source, 12%);}

.download .package:hover .links {
  background-color: fade(@color_background, 10%);
}

.download .package:hover .links a {
}
.download .package .links a:hover li:before {
  content: "\f054";
  font-family: FontAwesome;
  float:left;
  left: 28%;
  position: absolute;
  opacity: 0.5;
}

.download .tab-content .alert i {
  font-size: 150%;
  float:left;
  margin: 0 10px 0 0;
  opacity: 0.5;
}

.download .tab-content .alert {
  background-color: transparent;
  font-size: 90%;
  border: none;
  color: white;
  margin: 0;
  .text-shadow-none();}

.download .tab-content .alert a:hover {
  font-weight: bold;
}


#tab-replace {
  margin: 0; padding: 0;
}
.thanks {
  height: 88%;
  text-align:center;
  clear:both;
  .transition(all, 0.2s, ease-in);
}
.thanks .alert {}
#clear_download i {font-size: 150%; color: fade(@color_text, 20%); cursor:pointer;}
.thanks h1 {
  font-size: 400%;
  font-weight: bold;
}

.thanks .donations {
  width: 100%;
  margin: 20px auto;
}
.thanks .donations .donate_way {
  max-width: 28%;
  min-height: 250px;
  background-color: darken(@color_background, 5%);
  float:left;
  margin: 0 30px 0 0;
  padding: 0 10px;
  border-bottom: 2px solid fade(@color_text, 10%);
  overflow:hidden;
  .box-shadow(1px, 1px, 3px, darken(@color_background, 60%), 25%);
  .transition(all, 0.2s, ease-in);
}
.thanks .donations .donate_way h1 {margin: 25px 0 4px 0; padding-top: 0;}

.thanks .donations .donate_way:hover {
  background-color: darken(@color_background, 2%)
}

@-webkit-keyframes slide_away
{
0%   {-webkit-transform: translateX(0px);}
49%  {-webkit-transform: translateX(150px); opacity: 0.5;}
50%  {-webkit-transform: translateX(-150px);opacity: 0.5;}
100% {-webkit-transform: translateX(0px);}
}
@keyframes slide_away
{
0%   {transform: translateX(0px); -moz-transform: translateX(0px);}
49%  {transform: translateX(150px); -moz-transform: translateX(150px);}
50%  {transform: translateX(-150px); -moz-transform: translateX(-150px);}
100% {transform: translateX(0px); -moz-transform: translateX(0px);}
}
@keyframes rotating {
0%   { transform: rotate(0deg); -moz-transform: rotate(0deg);}
100% { transform: rotate(-180deg); -moz-transform: rotate(-180deg);}
}
@-webkit-keyframes rotating {
0%   { -webkit-transform: rotate(0deg);}
100% { -webkit-transform: rotate(-180deg);}
}

.thanks .donations .donate_way.shopping:hover h1 {
  animation:slide_away 0.5s;
  -moz-animation:slide_away 0.5s;
  -webkit-animation:slide_away 0.5s;
}

.thanks .donations .donate_way h1 {.transition(all, 0.2s, ease-in);}
.thanks .donations .donate_way.donation:hover h1 {
  color:darkred; opacity: 0.5;
}

.thanks .donations .donate_way.devfund:hover h1 {
  animation: rotating 1s ease-in-out;
  -moz-animation: rotating 1s ease-in-out;
  -webkit-animation: rotating 1s ease-in-out;
}

.download .introduction {padding-left: 20px;}
.download .introduction h1 {padding-top: 20px;}
.download .box {padding: 0 10px 15px 0; min-height: 30px}

.release_candidate {
  margin: 20px 0 8px 0;
  padding: 6px 0 10px 0;
  width:98%;
  border: thin solid lighten(@color_text, 70%);
  //border-bottom: 3px solid lighten(@color_text, 65%);
  //border-right: 3px solid lighten(@color_text, 65%);
  .box-shadow(3px, 3px, 0, lighten(@color_text, 55%), 60%);
  background-color: @color_background;
  color: @color_text;
  clear:both;
}

.release_candidate h1,
.release_candidate h2,
.release_candidate h3,
.release_candidate p { padding: 0; margin: 0;}

.release_candidate h1,
.release_candidate h2,
.release_candidate h3 {font-size: 180%;}

.release_candidate .rc_info {
  width: 64%;
  float:left;
  margin-left:15px;
}

.release_candidate .rc_download,
.release_candidate .rc_logs {
  width: 16%;
  float:right;
  font-size: 400%;
  text-align: center;
  margin-top: 15px;
  border-left: thin solid lighten(@color_text, 65%);
  .transition(all, 0.15s, ease-in)
}
.release_candidate .rc_logs {border:none;}
